.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------- PAGINA PRINCIPAL COM CATEGORIAS --------------------------------------------------*/

/* Estilização geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Fundo claro */
  height: auto;
    margin: 0;
    padding: 0;
}

html {
  height: auto;
  margin: 0;
  padding: 0;
}

.subtitle {
  color: #E6E6E6 !important;
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Estilo da navbar */
.navbar {
  background: url('../src/assets/background-imagem.png') no-repeat center center; /* Caminho da sua imagem */
  background-size: cover; /* Ajusta a imagem para cobrir toda a barra */
  position: relative;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
  z-index: 1;
}

/* Estilização do texto e logo na navbar */
.navbar h1, .navbar img {
  position: relative;
  z-index: 2;
}

/* Estilo para centralizar a logo */
.navbar img {
  display: block;
  margin: 0 auto 1rem auto; /* Centraliza a logo e adiciona margem inferior */
  width: 100px; /* Ajuste o tamanho conforme necessário */
}

/* Adicione isso ao seu arquivo App.css */
.navbar p {
  font-size: 1.4rem; /* Ajuste o tamanho conforme desejado */
  margin: 0; /* Remove a margem para um ajuste mais preciso */
}

/* Estilo da seção principal */
.home-content {
  text-align: center;
  padding: 2rem;
  background-color: white;
}

/* Título principal */
.home-content h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #003366;
}

/* Contêiner de categorias */
.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}



/* Cartão de categoria */
.category-card {
  background-image: url('../src/assets/background-categorias&postagens.png');
  background-size: cover; /* Faz com que a imagem cubra toda a área */
  background-position: center;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Imagem das categorias */
.category-card img {
  width: 100%;
  border-radius: 10px;
}

/* Título dos cartões */
.category-card h3 {
  margin-top: 1rem;
  color: #003366;
}

/* Estilo do footer */
.footer {
  margin-top: 0;
  background-color: #1d1d1d;
  color: white;
  text-align: center;
  padding: 1rem;
  position: static;
  width: 100%;
  bottom: 0;
}

/* Estilização da seção "Sobre o projeto" */
.about-section {
  background-color: #003366; /* Azul escuro */
  color: white;
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
  border-radius: 0; /* Bordas retas */
  margin-bottom: 0;
}

.about-section h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto; /* Centraliza o texto */
}

/*---------------------------------------------- PAGINA POST ------------------------------------------------*/

/* Estilização do cabeçalho da categoria */
.category-header {
  background-color: #003366;
  color: white;
  padding: 2rem;
  text-align: center;
}

/* Seção de estudo */
.study-section {
  text-align: center;
  margin: 2rem 0;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.post-card {
  background-image: url('../src/assets/background-categorias&postagens.png');
  background-size: cover; /* Faz com que a imagem cubra toda a área */
  background-position: center;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px; /* Ajuste conforme necessário */
  width: 100%; /* Ajuste conforme necessário */
}

.post-card:hover {
  transform: scale(1.05);
}

.post-card img {
  width: 100%;
  border-radius: 10px;
}

/* Seção de quiz */
.quiz-section {
  text-align: center;
  margin: 20px 0;
}

.quiz-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.quiz-button {
  background-color: #003366; /* cor azul escura */
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  text-transform: uppercase;
}

.quiz-button:hover {
  background-color: #002244;
}

.quiz-description {
  font-size: 14px;
  color: #7a7a7a;
  font-style: italic;
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.5;
}

.back-link {
  display: block;
  margin-top: 15px;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}


.back-link:hover {
  text-decoration: underline;
}

/*---------------------------------------------- PAGINA POST DETAIL ------------------------------------------------*/
.post-detail-content {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.post-main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.image-section {
  flex: 2;
  margin-right: 20px;
}

.post-image {
  width: 100%;
  border-radius: 8px;
}

.highlight-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.highlight-options h3 {
  margin-bottom: 10px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.highlight-label {
  margin-bottom: 5px;
  font-size: 14px;
}

.description-section {
  background-color: #e0e0e0; /* Cor de fundo cinza */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Borda arredondada */
  max-width: 600px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.description-section h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.description-section p {
  line-height: 1.6;
  color: #333; /* Ajusta a cor do texto */
}

.quiz-section {
  text-align: center;
  margin-top: 20px;
}

.quiz-button {
  background-color: #003366;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  text-transform: uppercase;
}

.back-link {
  display: block;
  margin-top: 15px;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

/*---------------------------------------------- PAGINA QUIZ DETAIL ------------------------------------------------*/
.quiz-container {
  background-color: #f0f8ff;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.quiz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #1a73e8;
  border-radius: 10px 10px 0 0;
  color: white;
  margin-bottom: 20px;
}

.quiz-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  flex-grow: 1
}

.question-card {
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 2px solid #007bff;
  max-width: 600px; /* Define a largura máxima para as perguntas */
  margin-left: auto;
  margin-right: auto;
}


.question-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-label {
  display: flex;
  align-items: center;
  font-size: 15px;
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 5px;
}

.confirm-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 200px;
}

.confirm-button:hover {
  background-color: #218838;
}

.score-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}