.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*--------------------------------------- PAGINA PRINCIPAL COM CATEGORIAS --------------------------------------------------*/

/* Estilização geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Fundo claro */
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.subtitle {
  color: #E6E6E6;
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Estilo da navbar */
.navbar {
  background: url('../src/assets/background-imagem.png') no-repeat center center; /* Caminho da sua imagem */
  background-size: cover; /* Ajusta a imagem para cobrir toda a barra */
  position: relative;
  padding: 10px 0px 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Estilização do texto e logo na navbar */
.navbar h1{
  margin: 0;
  font-size: 1.8em;
  color: white;
}

/* Estilo para centralizar a logo */
.navbar img {
  margin-right: 10px;
  height: auto;
  margin: 0 auto 0px auto; /* Centraliza a logo e adiciona margem inferior */
  width: 100px; /* Ajuste o tamanho conforme necessário */
}

/* Adicione isso ao seu arquivo App.css */
.navbar p {
  color: #dfdfdf;
  font-size: 18px; /* Ajuste o tamanho conforme desejado */
  margin-top: 12px;
  margin-bottom: 15px;
  margin: 0; /* Remove a margem para um ajuste mais preciso */
}

/* Estilo da seção principal */
.home-content {
  text-align: center;
  padding: 2rem;
  background-color: white;
}

/* Título principal */
.home-content h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #003366;
}

/* Contêiner de categorias */
.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}


/* Estilo da seção de categorias */
.categories-section {
  text-align: center;
  margin-top: 40px;
}

.categories-section h2 {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.categories-section p {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 40px;
  color: #444444;
}


/* Grid das categorias */
.categories-grid {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-wrap: wrap; /* Permite quebra de linha se houver mais de um card */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}



/* Cartão de categoria */
.category-card {
  background-image: url('../src/assets/background-categorias&postagens.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Imagem das categorias */
.category-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Título dos cartões */
.category-card h3 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 15px;
}

/* Estilo do footer */
.footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  width: 100%;
  position: relative; /* Certifique-se de não usar "absolute" ou "fixed" */
  bottom: 0;
}

/* Estilização da seção "Sobre o projeto" */
.about-section {
  background-color: #08439A; /* Azul escuro */
  color: white;
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
  border-radius: 0; /* Bordas retas */
  margin-bottom: 0;
}

.about-section h2 {
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 2rem;
  font-weight: bold;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto; /* Centraliza o texto */
}

/*---------------------------------------------- PAGINA POST ------------------------------------------------*/

/* Estilização do cabeçalho da categoria */
.category-header {
  background-color: #003366;
  color: white;
  padding: 2rem;
  text-align: center;
}

/* Seção de estudo */
.study-section {
  text-align: center;
  margin: 2rem 0;
}

.study-section h2 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.study-section p {
  font-weight: 300;
  text-align: center;
  color: #555; /* Ajuste de cor se necessário */
  letter-spacing: 0.05rem;
  max-width: 600px;
  margin: 0 auto 1.5rem auto;
  font-size: 0.9rem;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre os cards */
  justify-content: center; /* Centraliza os cards dentro do contêiner */
  padding: 10px; /* Adiciona um espaço ao redor dos cards */
}

.post-card {
  background-image: url('../src/assets/background-categorias&postagens.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-card h3 {
  text-decoration: none; /* Remove o sublinhado */
  color: white; /* Ajuste a cor, se necessário */
  font-size: 18px;
  margin-top: 15px;
}

.post-card h3:hover {
  text-decoration: none;
}

.post-card:hover {
  transform: scale(1.05);
}

.post-card img {
  width: 100%;
  border-radius: 10px;
}

/* Seção de quiz */
.quiz-section {
  text-align: center;
  margin: 20px 0;
}

.quiz-section h2{
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.quiz-button {
  background-color: #003366; /* cor azul escura */
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  text-transform: uppercase;
}

.quiz-button:hover {
  background-color: #002244;
}

.quiz-section p{
  font-size: 14px;
  color: #7a7a7a;
  font-style: italic;
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.5;
}

.back-link {
  display: block;
  margin-top: 15px;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}


.back-link:hover {
  text-decoration: underline;
}

/*---------------------------------------------- PAGINA POST DETAIL ------------------------------------------------*/
.post-detail-content {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  
}

.post-main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.image-section {
  flex: 2;
  margin-right: 20px;
}

.image-selector-container {
  display: flex;
  justify-content: space-between; /* Deixa os itens (imagem e seletores) alinhados horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  max-width: 800px; /* Limita a largura do contêiner */
  margin: 0 auto; /* Centraliza o contêiner na página */
}

.post-image {
  width: 65%; /* Define a largura da imagem */
  border-radius: 10px; /* Bordas arredondadas */
  margin-bottom: 25px;
  margin-top: 10px;
}

.selector-options {
  display: flex;
  flex-direction: column; /* Coloca os itens em uma coluna */
  background-color: #e6e6e6; /* Cor de fundo */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
  gap: 10px; /* Espaçamento entre os itens */
  width: 25%; /* Define a largura */
}

.selector-options label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: #d3d3d3; /* Fundo dos itens */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.selector-options label:hover {
  background-color: #c0c0c0; /* Cor de fundo ao passar o mouse */
}

.selector-options input[type="radio"] {
  margin-right: 10px; /* Espaço entre o botão e o texto */
}

.highlight-options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlight-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.highlight-label input {
  margin-right: 10px;
}


.description-section {
  background-color: #e0e0e0; /* Cor de fundo cinza */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Borda arredondada */
  max-width: 600px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.description-section h3 {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0;
  text-align: left;
}

.description-section p {
  line-height: 1.6;
  color: #333; /* Ajusta a cor do texto */
  margin-top: 5px;
  margin-bottom: 0px;
}

.quiz-section {
  text-align: center;
  margin-top: 20px;
}

.back-link {
  display: block;
  margin-top: 15px;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

.post-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.post-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.post-button:hover {
  background-color: #0056b3;
}


/*---------------------------------------------- PAGINA QUIZ DETAIL ------------------------------------------------*/
.quiz-container {
  background-color: #f0f8ff;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.quiz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #1a73e8;
  border-radius: 10px 10px 0 0;
  color: white;
  margin-bottom: 20px;
}

.quiz-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  flex-grow: 1
}

.question-card {
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 2px solid #dadada;
  max-width: 600px; /* Define a largura máxima para as perguntas */
  margin-left: auto;
  margin-right: auto;
}


.question-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-label {
  display: flex;
  align-items: center;
  font-size: 15px;
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Resposta correta */
.option-label.correct {
  border-color: #28a745; /* Verde */
  background-color: #d4edda;
}

/* Resposta incorreta */
.option-label.incorrect {
  border-color: #dc3545; /* Vermelho */
  background-color: #f8d7da;
}

/* Alteração ao passar o mouse */
.option-label:hover {
  background-color: #e0e0e0;
}

.confirm-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 200px;
}

.confirm-button:hover {
  background-color: #218838;
}

.score-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}